<ion-header>
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
            <!-- START BACKGROUND WAVES -->
<div class="fill">
  <svg width="200%" height="100%" viewBox="0 0 240 140" version="1.1">
    <defs>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
        <stop offset="0%"></stop>
        <stop offset="50%"></stop>
      </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="widget-copy-2" fill="url(#linearGradient-1)">
        <g id="wave-copy" transform="translate(0.000000, 1.000000)">
          <path
            d="M0,140 L0,2.59259259 C0,2.6670255 28.08,-4.12156133 66,3.88888889 C83.6331044,8.10263543 102,6.61060503 120,2.59259259 L120,140 L0,140 Z M120,140 L120,2.59259259 C120,2.6670255 148.08,-4.12156133 186,3.88888889 C203.633104,8.10263543 222,6.61060503 240,2.59259259 L240,140 L120,140 Z"
            id="waveShape"></path>
        </g>
      </g>
    </g>
  </svg>
</div>
            <!-- END BACKGROUND WAVES -->
     
</ion-content>
